html { 
  background: url(https://florida-artificial-intelligence.github.io/website/src/server.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
