html { 
  background: url(/src/server.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color:white;
  text-shadow: 5px 5px 5px black;
  text-align: center;
}

.logo {
	opacity:0.5;
	width:10%;
}

.logo:hover {
	opacity:1;
}

.div1 {
  color:Gainsboro;
  background-color:DarkSlateGrey;
  border-radius:45px;
  margin:5%;
  padding:1em;
}

ul {
  font-size:large;
}
