h1 {
  color:white;
  text-shadow: 5px 5px 5px black;
  text-align: center;
  font-size:xxx-large;
  padding:2em;
}

p {
  font-family: verdana;
  font-size: 20px;
}

body {
	background: #222;
	margin: 0rem;
	min-height: 100vh;
	font-family: Futura, sans-serif;
}

.box {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  padding:6em;
}

.box div {
  width: 100%;
  height: 100px;
}

.button {
	color: ivory;
	background-color: #555555;
	font-size: large;
	border-radius: 12px;
	cursor: pointer;
	z-index: 1;
}

.button:hover {
	color: #555555;
  	background-color: ivory;
  	color: white;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	z-index: 1;
}

.disabled {
 	opacity: 0.6;
 	cursor: not-allowed;
	z-index: 1;
}

.vert {
  	flex-direction:column;
}

ul {
	color:white;
  	text-shadow: 5px 5px 5px black;
  	text-align: center;
	text-size: large;
	font-family: Futura, sans-serif;
	
}

#canvas, #text {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}
#text {
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  font-size: 8vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#text h1 {
	opacity: 0.9
}
